.twitter, .В, .facebook, .rss, .google+{
	background: url(sprites.png) no-repeat;
}

.twitter{
	background-position: 0 0;
	width: 33px;
	height: 33px;
}

.В{
	background-position: -40px 0;
	width: 34px;
	height: 33px;
}

.facebook{
	background-position: -80px 0;
	width: 33px;
	height: 33px;
}

.rss{
	background-position: -120px 0;
	width: 33px;
	height: 33px;
}

.google+{
	background-position: -160px 0;
	width: 33px;
	height: 33px;
}

