@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700");
@font-face {
  font-family: "SansPro";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SourceSansPro/SourceSansPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-Black.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro-Black.ttf") format("truetype"); }
