html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
}

svg {
  width: 100%;
  height: inherit;
}
svg text {
  text-anchor: middle;
}
/*svg #alpha {
  fill: #ddd;
}*/
svg #subtitle {
  /*letter-spacing: -2px;*/
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
  color: #608b30
  font-family: "Bebas Neue"
  font-weight: 700
  font-size: 63px
}
svg #title {
  /*letter-spacing: 8px;*/
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
  color: #608b30
  font-family: "Bebas Neue"
  font-weight: 700
  font-size: 23px
  font-weight: 300;
  text-transform: uppercase;
}
svg #base {
  

  -webkit-mask: url(#mask);
          mask: url(#mask);
}

section.intro {
  background: url(bg_top.png) no-repeat top center;
  background-size: cover;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  z-index: -1;
}

/*@keyframes alpha {
  50%{fill: #999;}
}
*/