$main-color: #2eb2ff;
$main-color-light: #7db9ef;

$secondary-color: #FFFEFE;
$secondary-color-dark: #A8A8A8;

$main-dark: #090715;


$main-font: 'Montserrat';
$secondary-font: 'Open Sans';

//SIZES
$main-font-size: 1em;
$h1-size: 3.18rem;
$h2-size: 2.26rem;
$h3-size: 1.36rem;
$h4-size: 1.18rem;

//BUTTON TEXT
$button-font-size: 1.18rem;

