@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.w2
		.row
			justify-content: space-between
			.col-md-4 
		    -ms-flex: 0 0 33%
		        flex: 0 0 33%
		    max-width: 33%
	.col-md-2
			-ms-flex: 0 0 33%
			flex: 0 0 33%
			max-width: 33%  
	.cont4		
		.col-md-3
			-ms-flex: 0 0 19%
			flex: 0 0 19%
			max-width: 19% 
		.col-md-10
			-ms-flex: 0 0 60%
			flex: 0 0 60%
			max-width: 60%

	.wrapper .top_red_wrap .cont0 .top .right_top .search button
		right: 1%

	.cont3 .dots_wrap
		top: -20%
		.dots
			width: 30%
	.footer_w2
		.container
			width: 80%

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.menu_text
		display: none!important
	.wrapper .top_red_wrap .cont0 .top .right_top .search input
		width: 100%
	.w2 .login span, .w2 .register span
		font-size: 16px
	.w2 .soc
		margin: 5px 0

	.w2 .soc .twitter, .w2 .soc .VK, .w2 .soc .facebook, .w2 .soc .rss, .w2 .soc .google
		width: 27px
		height: 27px
		// 
	.w2 .soc .twitter
		background-position: -3px -1px
	.w2 .soc .VK
		background-position: -43px -1px
	.w2 .soc	.facebook
			background-position: -83px -1px
	.w2 .soc	.rss
			background-position: -123px -1px
	.w2 .soc	.google
			background-position: -163px -1px
	.w2 .w2_left_col_bucket_wrap
		width: 155px
	.w2 .w2_left_col_bucket_wrap .w2_left_col_bucket_text_wrap
		margin-left: 5px
	.w2 .w2_left_col_bucket_wrap .w2_left_col_bucket_img
		margin-left: 0
	.w2 .w2_left_col_bucket_wrap .w2_left_col_bucket_text_wrap .w2_left_col_bucket_text_product
		font-size: 11px
	// .w2 .logo_text
	// 	width: 114px
	.w2 .logo_text
		width: 188px
	.w2 .logo_text_wrap .logo_text h1, .w2 .logo_text_wrap .logo_text h1 div, .w2 .logo_text #hello::after
		font-size: 30px
	.w2 .logo_text_wrap .logo_text
		width: 170px
	.w2 .w2_right_gauger_wrapper .telephone_text, .w2 .w2_right_gauger_wrapper .telephone_number
		font-size: 16px
	.w2 .w2_right_gauger_wrapper .telephone_number
		font-size: 17px
	.w2 .w2_right_gauger_wrapper .call_gauger_wrapper
		width: 156px
		margin-left: 5%
		height: 60px
	.w2 .w2_right_gauger_wrapper .call_gauger_wrapper .call_gauger
		width: 159px
		height: 65px
		margin-top: 10px
	.w2 .w2_right_gauger_wrapper .call_gauger_wrapper .call_gauger .call
		font-size: 30px
	.w2 .w2_right_gauger_wrapper .call_gauger_wrapper .call_gauger .call .gauger
		font-size: 21px
	.w2 .w2_right_gauger_wrapper .call_gauger_wrapper .call_gauger_text2
		bottom: 20px
		left: 10%
	.cont3 .dots
		top: -20%

	.cont4_wpapper
		.cont4		
			.col-md-3
				-ms-flex: 0 0 25%
				flex: 0 0 25%
				max-width: 25% 
			.col-md-10
				-ms-flex: 0 0 50%
				flex: 0 0 50%
				max-width: 50%
	.footer2_wrapper .footer_nav ul li a
		font-size: 16px
	.footer2_wrapper .footer_nav ul li
		margin-right: 5px
	.footer2_wrapper .container .footer_nav ul li
		margin-right: 3px
	.footer2_wrapper .container .footer_nav ul
		padding-left: 0
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.col-md-2
		-ms-flex: 0 0 50%
		flex: 0 0 50%
		max-width: 50% 
	.container
		width: 80% 
	.wrapper .top_red_wrap .cont0 .top .right_top .language
  	margin: 0 5px
	.wrapper .top_red_wrap .cont0 .top .right_top
		width: 87%
	.wrapper .top_red_wrap .cont0 .top .right_top .search input
		&::placeholder
			font-size: 16px
			padding-left: 1px
	.wrapper .top_red_wrap .cont0 .top .right_top .search button
		right: 1%

	.w2 .login span, .w2 .register span
		font-size: 12px
	.soc
		width: 100%
	.w2 .w2_left_col_bucket_wrap
		width: 136px
	.w2 .w2_left_col_bucket_wrap .w2_left_col_bucket_text_wrap
		margin-left: 1px
	.w2 .w2_left_col_bucket_wrap .w2_left_col_bucket_img
		margin-left: 0
	.w2 .w2_left_col_bucket_wrap .w2_left_col_bucket_text_wrap .w2_left_col_bucket_text span
		font-size: 18px
	.w2 .w2_left_col_bucket_wrap .w2_left_col_bucket_text_wrap .w2_left_col_bucket_text_product
		font-size: 10px
	.w2 .logo_text
		width: 114px
	.w2 .logo_text
		font-size: 30px
	.cont4 .w2_right_gauger_wrapper
		width: 100%
	
	.cont4_wpapper
		.container
			width: 98%

	.footer2_wrapper .footer_nav ul
		padding-left: 0
	.footer_w2
		.container
			width: 100%
	.footer2_wrapper .footer_nav ul li a
		font-size: 13px
		margin-right: 1px
	// .cont4 .w2_right_gauger_wrapper, .cont4 .call_gauger_wrapper, .cont4 .banner_wrapper, .cont4 .call_gauger_wrapper .call_gauger
	// 	width: 100px
	// .cont4 .banner_wrapper .banner_text1, .cont4 .banner_wrapper .banner_text2, .cont4 .call_gauger_wrapper .call_gauger .call, .cont4 .call_gauger_wrapper .call_gauger .gauger
	// 	font-size: 16px
	.cont3 .dots
		top: -25%
	.footer2_wrapper .container .footer_nav ul li a
		font-size: 14px
	.footer2_wrapper .container .footer_nakitel
		width: 100px
		font-size: 14px
@media only screen and (max-width : 576px)
	.w2 .w2_right_gauger_wrapper .call_gauger_wrapper .call_gauger .call
		font-size: 26px
	.w2 .w2_right_gauger_wrapper .call_gauger_wrapper .call_gauger .call .gauger
		font-size: 18px
	.cont4 .w2_right_gauger_wrapper .telephone_text
		font-size: 14px
	.cont4 .w2_right_gauger_wrapper .telephone_number
		font-size: 13px
	.cont4 .call_gauger_wrapper .call_gauger .call_gauger_text1 .call
		font-size: 24px
	.cont4 .call_gauger_wrapper .call_gauger .call_gauger_text1 .call .gauger
		font-size: 17px
	.cont4 .banner_wrapper .banner_text .banner_text1 .banner_text11
		width: 90%
	.cont4 .banner_wrapper .banner_text .banner_text1 .banner_text11
		font-size: 34px
	.cont4 .banner_wrapper .banner_text .banner_text1 .banner_text11 .banner_text22
		font-size: 40px
	.about_company_left
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		text-align: center
	.logo_wrap
		padding: 0 15px
	.w_white
		padding-top: 85px
	.container
		width: 98%
	.w2
		.row
			justify-content: center
			.col-md-4 
				display: flex
				-ms-flex: 0 0 100%
				flex: 0 0 100%
				max-width: 100%
				justify-content: center
		.w2_right_gauger_wrapper
			float: right

	.col-md-2
		-ms-flex: 0 0 90%
		flex: 0 0 90%
		max-width: 90%  
	.cont4_wpapper
		.cont4		
			.col-md-3
				-ms-flex: 0 0 100%
				flex: 0 0 100%
				max-width: 100% 
			.col-md-10
				-ms-flex: 0 0 100%
				flex: 0 0 100%
				max-width: 100%	
	.cont4		
			.col-md-3
				-ms-flex: 0 0 100%
				flex: 0 0 100%
				max-width: 100% 
			.col-md-10
				-ms-flex: 0 0 100%
				flex: 0 0 100%
				max-width: 100%
	.top_red_wrap
		.container
			width: 98.9375%
	.wrapper .top_red_wrap .cont0 .top .right_top .language
		margin: 0 5px
	.cont
		margin-top: 20px
	.w2 .login span, .w2 .register span
		font-size: 16px
	.soc
		width: 100%
	.w2 .w2_left_col_bucket_wrap
		width: 150px
		margin-bottom: 10px
	.w2 .w2_left_col_bucket_wrap .w2_left_col_bucket_text_wrap
		margin-left: 1px
	.w2 .w2_left_col_bucket_wrap .w2_left_col_bucket_img
		margin-left: 0
	.w2 .w2_left_col_bucket_wrap .w2_left_col_bucket_text_wrap .w2_left_col_bucket_text span
		font-size: 18px
	.w2 .w2_left_col_bucket_wrap .w2_left_col_bucket_text_wrap .w2_left_col_bucket_text_product
		font-size: 10px
	.w2 .logo_text
		width: 207px
	.w2 .logo_text
		font-size: 35px
	.w2 .w2_right_gauger_wrapper .telephone_text, .w2 .w2_right_gauger_wrapper .telephone_number
		font-size: 16px
	.w2 .w2_right_gauger_wrapper .telephone_number
		font-size: 20px
	.w2 .w2_right_gauger_wrapper .call_gauger_wrapper
		width: 130px
		margin-left: 15%
		height: 50px
	.w2 .w2_right_gauger_wrapper .call_gauger_wrapper .call_gauger
		width: 129px
		height: 55px
		margin-top: 4px
	.cont2
		.row
			justify-content: center
	// .about_company_left
	// 	padding-left: 40%
	.cont4 .w2_right_gauger_wrapper
		width: 170px
	.cont4 .w2_right_gauger_wrapper .telephone_text span
		font-size: 15px
	.cont4 .w2_right_gauger_wrapper .telephone_number span
		font-size: 19px
	.cont4 .banner_wrapper
		margin: 10px 0
	.footer2_wrapper .footer_nakitel
		font-size: 16px
	.footer2_wrapper .footer_nav ul li
		margin-right: 1px
	.footer2_wrapper .footer_nakitel
		width: 20%
	.footer2_wrapper .footer_nav
		width: 60%
	.footer2_wrapper .container .footer_nav ul li
		float: right
	.cont4 img
		left: 10px
	.cont4 #tabs .tabContent p
		padding: 0 20px
	// .cont4 .banner_wrapper .banner_text1, .cont4 .banner_wrapper .banner_text2
	// 	font-size: 24px
	.cont4 .about_company
		font-size: 30px
	.w_white .row .door_text
		text-transform: uppercase
	.w_white .row .door_text .door_text1, .w_white .row .door_text .door_text2
		margin-bottom: 20px
	.w_white .row .door_text
		width: 100%
	.cont3 .dots
		top: -50%
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	
	
	
	// .cont4 .about_company
	// 	font-size: 60px
	// .w2 .w2_right_gauger_wrapper .call_gauger_wrapper .call_gauger .call
	// 	font-size: 25px
	// .w2 .w2_right_gauger_wrapper .call_gauger_wrapper .call_gauger .call .gauger
	// 	font-size: 17px
	// .w2 .w2_right_gauger_wrapper .call_gauger_wrapper .call_gauger_text2
	// 	bottom: 20px
	// 	left: 10%
	// .cont4 .w2_right_gauger_wrapper, .cont4 .call_gauger_wrapper, .cont4 .banner_wrapper, .cont4 .call_gauger_wrapper .call_gauger
	// 	width: 100px
	// .cont4 .banner_wrapper .banner_text1, .cont4 .banner_wrapper .banner_text2, .cont4 .call_gauger_wrapper .call_gauger .call, .cont4 .call_gauger_wrapper .call_gauger .gauger
	// 	font-size: 16px
	// .cont3 .dots
	// 	top: -30%
	// 	left: 40%
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	.footer2_wrapper .footer_nav
		width: 65%
	.footer2_wrapper .container .footer_nav ul li
		margin-right: 6px
		float: none	
	.w_white
		padding-top: 85px
	.logo_wrap
		padding: 15px 0
	.cont3
		min-height: 250px
	.cont3 .sl_cont
		margin-bottom: 0
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
	.cont3 .slider_wrap
		height: 100px
	.cont3 .sl_cont
		height: 200px
	.cont3
		margin-bottom: 0
	.about_company_left
		padding-left: 20%
	.cont4 #tabs .tab, .cont4 #tabs .whiteborder
		font-size: 17px
	.cont4 img
		left: 9px
	.cont3 .dots
		top: -50%
	.about_company_right
		padding-top: 50px
	.cont4 .banner_wrapper .banner_text1, .cont4 .banner_wrapper .banner_text2
		font-size: 16px
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/
	.cont4
		.col-md-2
			-ms-flex: 0 0 14%
				flex: 0 0 14%
				max-width: 14%
		.col-md-10
			-ms-flex: 0 0 70%
				flex: 0 0 70%
				max-width: 70%

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/
	

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
	.w2
		.row
			justify-content: space-between
			.col-md-4 
				-ms-flex: 0 0 33%
				flex: 0 0 33%
				max-width: 33%
		.w2_right_gauger_wrapper
			float: right
	
		
	.col-md-2
		-ms-flex: 0 0 13%
		flex: 0 0 13%
		max-width: 13%

	.col-md-3
		-ms-flex: 0 0 14%
		flex: 0 0 14%
		max-width: 14%
		
	.col-md-10
		-ms-flex: 0 0 70%
		flex: 0 0 70%
		max-width: 70%
	.door_text
		width: 135px